.menu-grid {
  grid-area: menu;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  line-height: 80px;
}

.menu-item {
  list-style-type: none;
  text-align: center;
  padding: 0px 1vw;
}

.menu-item:hover {
  text-decoration: underline;
}

.menu-item:hover > .sub-menu {
  display: flex;
  flex-direction: column;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: var(--color-one);
  width: 11vw;
  transform: translateX(-1vw);
  line-height: 40px;
}
