.menu-grid {
  grid-area: menu;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  line-height: 80px;
}

.menu-item {
  list-style-type: none;
  border: solid 3px red;
}

.menu-item:hover > .sub-menu {
  display: flex;
  flex-direction: column;
}

.sub-menu {
  display: none;
  position: absolute;
  padding: 0px 15px;
  min-width: 150px;
  text-align: center;
  background-color: var(--color-one);
}
