.menu-grid {
  grid-area: menu;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  line-height: 80px;
}

.menu-item {
  list-style-type: none;
}

.sub-menu {
  display: none;
}
